@import 'src/style/mixins';
@include b(header) {
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: rgba(81, 17, 232, 1);
  @include e(back) {
    cursor: pointer;
    margin-left: 0.3rem;
    font-size: 0.2rem;
    img {
      width: 0.08rem;
      height: 0.16rem;
    }
    span {
      margin-left: 0.13rem;
    }
  }
  @include e(right) {
    display: flex;
    align-items: center;
  }
  @include e(guide) {
    height: $header-height;
    margin-right: 0.3rem;
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    img {
      width: 0.22rem;
      height: 0.22rem;
      margin-right: 0.05rem;
    }
    span {
      font-size: 0.16rem;
    }
  }
  @include e(earn) {
    height: $header-height;
    margin-right: 0.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 0.22rem;
      height: 0.22rem;
      margin-right: 0.05rem;
    }
    span {
      font-size: 0.16rem;
    }
  }
  @include e(prop) {
    height: $header-height;
    margin-right: 0.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 0.22rem;
      height: 0.22rem;
      margin-right: 0.05rem;
    }
    span {
      font-size: 0.16rem;
    }
  }
  @include e(money) {
    height: $header-height;
    display: flex;
    align-items: center;
    img {
      width: 0.22rem;
      height: 0.22rem;
    }
    span {
      margin-left: 0.08rem;
      margin-right: 0.14rem;
      font-size: 0.18rem;
      min-width: 0.3rem;
      color: rgba(255, 255, 255, 1);
    }
  }
}